@charset "UTF-8";

.bgimg{
  background: url(../../image/coffee-background.jpg);
  height: 500px;
}
.bg-norepeat{
  background: url(../../image/coffee-background.jpg) no-repeat;
  height: 500px;
}
.bg-cover{
  background: url(../../image/coffee-background.jpg) no-repeat center / cover;
  height: 500px;
}
.bg-contain{
  background: url(../../image/coffee-background.jpg) no-repeat center/ contain;
  height: 500px;
}