@charset "UTF-8";

.bgimg, .bg-norepeat, .bg-cover , .bg-contain{
  background: url(../../image/coffee-background.jpg);
  height: 500px;
}

.bg-norepeat, .bg-cover , .bg-contain{
  background-repeat: no-repeat;
}

.bg-cover , .bg-contain{
  background-position: center;
}

.bg-cover{
  background-size: cover;
}

.bg-contain{
  background-size: contain;
}